/* form {
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
    max-width: 200px;
} */

form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

mat-form-field {
  height: 50px !important;
  margin: 0px !important;
  padding: 0px !important;
}
