<p>Apk onderhoud</p>

<section>
  <form [formGroup]="apkForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="text" matInput placeholder="Kenteken" formControlName="license" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Datum" formControlName="date" required>
      <mat-datepicker #picker></mat-datepicker>

      <button mat-raised-button (click)="picker.open()">Kies datum</button>
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="Totaalprijs" formControlName="totalPrice" required />
    </mat-form-field>

    <button id="submit-button" mat-raised-button color="primary" [disabled]="apkForm.invalid">
      Apk onderhouden
    </button>
  </form>
</section>
